PORT=4000

MONGO_URI= mongodb://localhost:27017/ui-library

JWT_SECRET= asdiy3ei2y3geu32e3248t32794t3298dfhvwekhf
JWT_REFRESH_SECRET=weiyxgryebgryweigrcw9r7y439849r4grc

NODE_ENV=development

GOOGLE_CLIENT_SECRET=cwrig4uidynrh5y7507634tvgergrdfgr
GOOGLE_ClIENT_ID=xq3riyecr4tgn98yfheoufdsofshbdljfbsglje

CLIENT_URL=http://localhost:5173