PORT=4000

MONGO_URI= mongodb://localhost:27017/ui-library

JWT_SECRET= your secret
JWT_REFRESH_SECRET= your secret

NODE_ENV=development

GOOGLE_CLIENT_SECRET=your secret key
GOOGLE_ClIENT_ID=your client id

CLIENT_URL=http://localhost:5173